.content{margin:0 auto;margin-top:45px;+padding-top:45px}
.content-wrap,.wrapper{background:#FFF;width:720px;float:left;box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1)}
.wrapper{width:960px}
/*小头像*/
.avtr-sml img{display:block;width:30px;height:30px}
/*show-item页面-侧边*/
.relaside{width:310px;z-index:1}
.aside-fixed{width:310px;position:fixed;top:45px}
.acon-bar li, .avtr-sml li{margin:0 1px 1px 0;overflow:hidden;float:left}
.acon-bar li{width:102px;height:85px}
/*动作条*/
.action-bar{position:fixed;top:120px}
.action-bar, .action-bar li{width:50px;text-align:center}
.action-bar li{margin-bottom:5px;float:left}
/*item标题*/
#image-depict{position:relative;margin:20px 20px 0 20px;line-height:25px;overflow:hidden}
#image-depict input{font-size:1em;height:25px;line-height:25px;width:535px;border:0;background:#F5F5F5}
#image-depict span{position:absolute;right:0;top:0;font-size:12px}
#image-depict span,#image-depict p{color:#FF7A9C}
/*添加标签*/
#mytag{width:248px;position: absolute;top:28px;left:0;padding:0 0 0 1px;display:none}
#add-tag{width:242px;height:26px;line-height:26px;margin-right:1px}
#add-tag-form{display:none}
#add-tag-form .btn{width:50px;height:28px;line-height:28px;padding:0 5px}
#add-tag-ctrl{width:25px;text-align:center}
/*评论*/
#addcomment{height:40px;width:478px}
input#doaddcomment{border-radius:0 2px 2px 0}
.comment-waring{background:#FFEBEB;height:52px;width:490px;display:none;position:absolute;left:0;top:0}
.comm-del{display:none}
#addcomment-label{position:absolute;top:6px;left:6px;color:#999}
#pic-comment{background:#F8F8F8;border-top: 1px solid #ebebeb}
#comment-max{font:22px Constantia,Georgia;position: absolute;bottom:2px;right:70px;color:#999}
/*评论列表*/
.comm-list li{padding:10px 0}
.comm-box{overflow:hidden;float:left;width:480px}
.comm-list em{font-style:normal}
.quote{overflow:hidden;margin-bottom:10px;padding-left:16px;background:url(../image/qa.gif) no-repeat 0 0;color:#999}
.quote blockquote{display:inline;margin:0;padding-right:16px;background:url(../image/qz.gif) no-repeat 100% 100%;}
/*footer*/
.footer{margin: 30px 0}
.footer-nav{margin: 0 auto;text-align:center}
.footer-nav a{margin-right: 6px}
/*form*/
input,button,select,textarea{outline:none;margin:auto;padding:0;font:12px Tahoma,Geneva,Verdana}
textarea,textarea.focus{height:auto;padding:5px;margin:0}
select{vertical-align:middle;background:#F9F9F9;border-color:#666666 #CCCCCC #CCCCCC #666666;border-style:solid;border-width:1px;color:#3e3e3e;padding:2px}
input.text,textarea,input.date,input.focus{border:1px solid #d0d0d0;padding-left:5px;color:#999;background: url("../image/input.png") repeat-x 0 0 #FFFFFF}
input.text,input.date,input.focus{height:30px;line-height:30px}
input.focus{border-color:#A7A6AA;color:#3E3E3E}
a.btn,input.btn,button.btn{background:#6DB227;border:none;border-radius: 2px;color:#FFB;height:32px;line-height:32px;cursor:pointer}
a.btn:hover,input.btn:hover,button.btn:hover{color:#FFF;background: #6EC110}
a.btn{display:inline-block;cursor:pointer}
a.btn:active, input.btn:active, button.btn:active{background:#518C15}
.inputbox{padding:5px 0 5px 10px}
.inputbox a{color:#588C0E}
.inputbox label{display:block;vertical-align:middle;margin-right:10px;height:32px;line-height:32px}
.inputbox input.text,.inputbox input.focus,.inputbox textarea{border:none;background:#F5F5F5;height:32px}
input.cbox{margin-right:3px;vertical-align:-2px}
/*header*/
.main-nav, .top-header{margin:0 auto;height:45px}
.top-header{background:url(../image/nav_bg.png) repeat-x;width:100%;min-width:960px;box-shadow:0 0 3px rgba(0,0,0,0.2);position:fixed;z-index:898;top:0;left:0;}
.main-nav, .main-nav a{color:#FFB}
.main-nav a:hover{color:#FFF}
#nav-list{float:left;margin-left:12px}
#nav-list li{float:left;font-size:14px;line-height:45px;height:45px}
#nav-list li a{display: block;padding:0 12px}
.login-info{padding-top:14px}
#logo{width: 120px;padding:0 5px;height: 45px;background: url(../image/logo.gif) no-repeat center center #FFF}
#logo a.logo-font{text-indent:-999px;display: block;height: 100%}
/*状态弹出more-nav*/
#more-nav {line-height:28px;position:absolute;display: none;top:34px;left:0;background:#FFF;z-index:99999;width:100px}
#more-nav li{float: left;width: 100%;overflow: hidden}
#more-nav li a{color:#588C0E;display:block;margin:0;padding:3px 5px 3px 30px;width:100%}
/*morenav 背景*/
#more-nav li a#more-nav-dynamic{background:url(../image/mn-bg.png) 0 -62px no-repeat}
#more-nav li a#more-nav-dynamic:hover{background-color: #F5F5F5;background-position: 0 -255px}
#more-nav li a#more-nav-album{background:url(../image/mn-bg.png) 0 0 no-repeat}
#more-nav li a#more-nav-album:hover{background-color: #F5F5F5;background-position: 0 -193px}
#more-nav li a#more-nav-setting{background:url(../image/mn-bg.png) 0 -96px no-repeat}
#more-nav li a#more-nav-setting:hover{background-color: #F5F5F5;background-position: 0 -289px}
#more-nav li a#more-nav-logout{background:url(../image/mn-bg.png) 0 -127px no-repeat}
#more-nav li a#more-nav-logout:hover{background-color: #F5F5F5;background-position: 0 -320px}
#more-nav li a#more-nav-pic{background:url(../image/mn-bg.png) 0 -155px no-repeat}
#more-nav li a#more-nav-pic:hover{background-color: #F5F5F5;background-position: 0 -348px}
/*ui*/
#ajxwaitid{position:fixed;display:block;left:50%;top:0;z-index:899;padding:2px 10px;background:#FF7A9C;color:#FFF}
/*弹窗*/
.mtcover{position:fixed;top:0;left:0;width:100%;background-color:#000}
.mtmenu{position: fixed;_position:absolute}
.cur-m{cursor:move}
/*分页按钮*/
.page{text-align:center}
.page a, .page span{padding:5px 9px;background-color:#E9F0C2}
.page span, .page a:hover{background-color:#6DB227;color:#FFF}
/*收藏心*/
a.heart{background:url(../image/heart.png) no-repeat -40px 0}
a.heart{height:35px;width:40px;cursor:pointer}
a.heart:hover, a.heart-on{background-position:0 0}
/*编辑关闭按钮*/
a.close,a.edit{background: url(../image/op.png) no-repeat;width:20px;height:20px;text-indent:-99px;overflow:hidden;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;cursor:pointer;}
a.close{background-position:0 0}
a.close:hover{background-position:0 -20px}
a.edit{background-position:0 -80px}
a.edit:hover{background-position:0 -100px}
/*下拉箭头*/
.arrow{background:url(../image/arrow.png) no-repeat right center;padding-right:7px}
/*标签*/
a.tg-pink, a.tg-blue, a.tg-green,a.tg-claret, a.tg-purple,a.tg-grey,#notag{padding:5px;display:block;border-radius:2px;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out}
a.tg-pink{background:#FFEBEB;color:#FF7A9C}
a.tg-pink:hover,a.tg-pink-hover{background:#FF7A9C;color:#FFF}
a.tg-grey{background: #EBEBEB;color:gray}
a.tg-grey:hover,a.tg-grey-hover{background:#B7B7B7;color:#FFF}
a.tg-blue{background:#DCEDFD;color:#52878F}
a.tg-blue:hover, a.tg-blue-hover{background:#1883C4;color:#FFF}
a.tg-green{background: #E9F0C2;color:#588C0E}
a.tg-green:hover, a.tg-green-hover{background: #6DB227;color:#FFF}
a.tg-claret{background: #E9B8B1;color:#C84E3D}
a.tg-claret:hover, a.tg-claret-hover{background: #C84E3D;color:#FFF}
a.tg-purple{background:#E7CFD5;color:#C28896}
a.tg-purple:hover, a.tg-purple-hover{background: #C28896;color:#FFF}
#notag{padding-left:0}
/*标签包*/
.tag-wrap{overflow:hidden}
.tag-wrap li{float:left;margin:0 1px 1px 0;white-space:nowrap;position:relative}
.tag-wrap li .deletetag{opacity:.5;filter:alpha(opacity=50);color:#FFF;margin:0 -5px 0 0;padding:5px;font-weight:bold;cursor:pointer;height:100%}
.tag-wrap li .deletetag:hover{opacity:1;filter:alpha(opacity=100)}
/*返回顶部*/
#scrolltop{position:fixed;bottom:100px;cursor:pointer;width:55px;height:55px;padding:0;overflow:hidden;line-height:500px;display:none;
    background:url(../image/backTop.png) no-repeat 0 0;}
a#scrolltop:hover{background-position: -55px 0}
/*tabs导航*/
.tabs li{float:left}
.tabs a{display:block;height:28px;line-height:28px;padding:0 15px;color:#588C0E}
.tabs a:hover{background: #F5F5F5}
.tabs a.act{background:#6DB227;color:#FFF}
/*图片列表*/
#pic-list li{margin: 0 1px 1px 0;position:relative;overflow:hidden}
#pic-list li, #pic-list img{float:left}
/*图片列表悬浮层*/
.fave-cover{width:100%;background:#FFF;position:absolute;opacity:0;filter:alpha(opacity=0);display:block}
.fave{position:absolute;width:100%;opacity:0;filter:alpha(opacity=0);display:none;z-index:1}
.fave a{display:block;padding:6px 8px 0;float:left;width:160px;overflow:hidden}
.fave a.heart{float:right;padding:0;margin:6px 6px 0 0;width:40px}
/*串串烧*/
.cros-nav{background: #FFEBEB;color:#FF7A9C}
/*msg-box*/
.x-msg-box{background-color:#269ACF;color:#FFF;height:30px;width:220px;margin-left:-110px;left:50%;top:-70px;position:fixed;z-index:9999;border-radius: 0 0 2px 2px}
.x-msg-text{text-align:center;line-height:30px;font-weight:bold}
.x-msg-success{background:#269ACF}
.x-msg-error{background:#FF7A9C}